
<div class="container w-50">
  
  <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Enter user-name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your Email">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Enter Password</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your Password">
    </div>
    <button type="button" (click)="matchdata()" class="btn btn-primary">LogIn</button>
</div>

